.navbar  {
    height: 65px;
    display: flex;
    background-color: var(--color-primary-1);
    align-items: center;
    color: rgb(221, 221, 221);

}

.nav-logo{
    height:35px;
    margin-left: 50px;
    margin-right: 7px;
   
}

.nav-heading{
    font-weight: 500 ;
    font-size: 1.6rem;

}